
body {
    background-color: #01070d;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h2 {
    /* color: #50aaf2; */
    color: #0774e0;
}

#mainbody {
    margin: auto;
    padding-left:10%;
    padding-right:10%;
    /* text-align: center; */
    width: 70%;
    /* color: #50aaf2; */
    color: #02407d;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b3d4f5;
    border-radius: 10px;
}

#aboutme-div {
    width: auto;
}

#main-name {
    font-size: 320%;
}

.section-div {
    padding: 10px;
}


#profile-pic {
    width:190px;
    height:190px;
    animation: fadeInAnimation 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-radius: 20px;

}

#about-me-div {
    text-align: center;
    /* padding-bottom: 10px; */
}

#ellipses-div {
    animation: fadeOutAnimation 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}


/* unvisited link */
a:link {
    color: #f58905;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: #f2ef88;
  }
  
  /* selected link */
  a:active {
    color: red;
  }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.55;
    }
    100% {
        opacity: 0;
    }
}